
html, body{
    width: 100%;
    margin: 0 0 0 0;
    height: 100%;
 
}

/*wraper */
#wraper {
	border: 2px solid rgb(240, 126, 60);
    width: 100%;
    height: 100%;
   
   
}

#header {
	background-color: #5d8888;
	width: 100%; /* 100% of the father element: wraper */
	height: 10%;
	line-height: 80px;
	font-size: 14;
    text-align: center;
}

  
#footer {
	width: 100%; 
    border: 0px solid black;
    background-color: #5d8888;
    height: 10%;
    text-align: center;
    clear: left;
    
}

#body2 {
    width: 90%;
    height: 100%;
}

#leftcolumn {
	width: 20%; 
    background-color: #ecc0a2;
    float: left;
    height: 73%;
}
  

#category1 {
    width: 60%; 
    height: 10%;
    background-color: #ddebd7;
    border: 1px solid black;
    margin: 10px auto;
    line-height: 50px;
    text-align: center;
}


#category2 {
    width: 80%; 
    height: 15%;
    background-color: #c6ecb5;
    border: 1px solid black;
    margin: 10px auto;
    line-height: 50px;
    text-align: center;
}
       
#bodycontent {
	width: 60%; 
    background-color: #d0f0cd;
    height: 73%;
    float: left;
}
     
#rightcolumn {
	width: 20%; 
    background-color: #d6b7b6;
    height: 73%;
    float: left;
}

/* navigation bar  */
#nav {
	width: 100%; 
    border: 0px solid black;
    background-color: #121414;
    height: 7%;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 1px;
    color: white;
}

#logout{
	float:right;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    border: 0px solid white;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
}

li a:hover {
    background-color: #f0bc8c;
    color:black;
}


.active{
	background-color: #f0bc8c;
	color:black;
} 

